$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Created CSS */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
  background-color: #FFF;
}
h1, h2, h3 {
  font-family: 'Archivo Narrow', sans-serif;
}

.banner {
  background-color: #0074cd;
  color: #FFF;
}
.banner h1 {
  font-size: 50px;
  line-height: 50px;
}
.main-frame {
  background-color: #FFF;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.search-box {
  line-height: 50px;
  background-color: #333;
  color: #FFF;
  margin-bottom: 10px;
  margin-left: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.search-box label {
  font-weight: bold;
  margin-left: 10px;
}

.episode-list {
  list-style: none;
  margin: 0px;
}

.episode-list h3 {
  margin-top: 0px;
}

.episode-list .ratings {
  line-height: 30px;
  text-align: center;
  background-color: #333;
  color: #FFF;
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.episode-list .fulldate {
  margin: 5px;
}

.episode-list li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dotted 1px #5dace9;
}

.episode-list li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.show-info {
  list-style: none;
  margin: 0px;
  padding: 10px;
  background-color: #e1e1e1;
  color: #333;
  font-size: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.show-info li {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: solid 1px #CCC;
  line-height: 40px;
}

.show-info li:last-child {
  border-bottom: none;
}

.show-info .genre {
  margin-right: 5px;
  cursor: pointer;
}

.show-info span.label {
  display: inline-block !important;
}

.loginSeparator{
  font-weight: bold;
  font-size: 36px;
}
.social-login a{
  height: 50px;
  font-size: 20px;
}

.social-login li {
  list-style: none;
}

.social-login {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

.sectionHeader{
  font-size: 14px;
  font-weight: bold;
  background: #777;
  color: #ffffff;
}

button{
  margin-top: 10px !important;
  font-weight: bold !important;
}

.topicHeader{
  font-size: 14px;
  font-weight: bold;
  background: #3d66a8;
  color: #ffffff;
  margin: 10px 0 10px 0;
}

.topicElement{
  padding: 5px 0px !important;
}

.topicDetails{
  margin-top: 10px;
  border:1px solid #333333;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.tag-input-ctn {
  border: 1px solid #ccc;
  padding: 2px 3px;
  height:110px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.tag-input-ctn .input-tag {
  padding: 2px 4px;
  line-height: 12px;
  font-size: 11px;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
  border: 1px solid #a9b6d2;
}

.tag-input-ctn .input-tag .delete-tag {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}

.tag-input-ctn .input-tag .delete-tag:hover {
  background-color: #96b4d2;
}

