<div class="container main-frame">
    <div class="col-lg-10 col-sm-10 col-xs-8"">
        <form role="form" name="changePassForm" class="col-lg-6 col-sm-6 col-xs-12" novalidate ng-submit="changePass()">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input required type="password" class="form-control" id="currentPassword" placeholder="Please enter your password" name="logPassword" ng-model="currentPassword">
                    <div ng-show="changePassForm.logPassword.$dirty && changePassForm.logPassword.$invalid">
                        <span ng-show="changePassForm.logPassword.$error.required">Password required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input required type="password" class="form-control" id="newPassword" placeholder="Please enter new password" name="newPassword" ng-model="newPassword">
                    <div ng-show="changePassForm.newPassword.$dirty && changePassForm.newPassword.$invalid">
                        <span ng-show="changePassForm.newPassword.$error.required">Password required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input required type="password" class="form-control" id="confirmPassword" placeholder="Please confirm new password" name="confirmPassword" ng-model="confirmPassword">
                    <div ng-show="changePassForm.confirmPassword.$dirty && changePassForm.confirmPassword.$invalid">
                        <span ng-show="changePassForm.confirmPassword.$error.required">Password required.</span>
                    </div>
                </div>
                <button class = "btn btn-primary" ng-disabled="changePassForm.$invalid" type="submit">Login</button>
                <span style="color:red">{{errorMessage}}</span>
                <span style="color:blue">{{message}}</span>
            </fieldset>
        </form>
    </div>
</div>