<!-- Main container for the create course template -->
<div class="container main-frame">
    <div class="row">
        <form role="form" class="col-lg-6 col-sm-6 col-xs-12 col-lg-offset-2 col-sm-offset-2" name="createCourseForm" novalidate ng-submit="createCourse()">
            <fieldset>
                <legend>Create Course</legend>
                <div class="form-group">
                    <label for="courseTitle">Course Title</label>
                    <input required type="text" class="form-control" id="courseTitle" placeholder="Please enter title of your course" name="courseTitle" ng-model="courseTitle">
                    <div ng-show="signUpForm.name.$dirty && signUpForm.name.$invalid">
                        <span ng-show="signUpForm.name.$error.required">Username required.</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>